
<nav class="">
	<i id="navbar-toggle"></i>
	<div class="small-nav-bevel"></div>
		
	<h2 class="header">JazzQL-Robot-Controller</h2>

	<div id="robot-name">
		<h1>Mars rover</h1>
	</div>

	<div id="status-battery" class="battery-indicator">

	</div>

	<div class="robot-log-container">
		<h2>What I'm up to:</h2>
		<ul id="robot-log">
			
		</ul>
	</div>

</nav>

<div id="main-container">
	<div id="logo-container">
		<img src="images/javascript.svg">
		<img src="images/sailsLogo_large.png">
		<img src="images/Backbone.svg">
	</div>

	<div id="latest-commands">
		<!-- List all the latest commands here -->
	</div>

	<div id="keyboard-view">
		<!-- Keyboard template -->
	</div>

</div>
