
<nav class="">
	<i id="navbar-toggle"></i>
	<div class="small-nav-bevel"></div>
		
	<h2 class="header">JazzQL-Robot-Controller</h2>

	<div id="robot-name">
		<h1>Mars rover</h1>
	</div>

	<div id="status-battery" class="battery-indicator">

	</div>

	<div class="robot-log-container">
		<h2>What I'm up to:</h2>
		<ul id="robot-log">
			
		</ul>
	</div>

</nav>

<div id="main-container">
	<div id="logo-container">
		<img src="images/javascript.svg">
		<img src="images/sailsLogo_large.png">
		<img src="images/Backbone.svg">
	</div>

	<div id="latest-commands">
		<!-- List all the latest commands here -->
	</div>

	<div id="keyboard-view">
		<div class="keyboard-container">
			<div class="keyboard">
				<div class="row r5">
					<div keyCode="192" class="key key-1 key-mk">~<br>`</div>
					<div keyCode="49" class="key key-1 key-mk">!<br>1</div>
					<div keyCode="50" class="key key-1 key-mk">@<br>2</div>
					<div keyCode="51" class="key key-1 key-mk">#<br>3</div>
					<div keyCode="52" class="key key-1 key-mk">$<br>4</div>
					<div keyCode="53" class="key key-1 key-mk">%<br>5</div>
					<div keyCode="54" class="key key-1 key-mk">^<br>6</div>
					<div keyCode="55" class="key key-1 key-mk">&<br>7</div>
					<div keyCode="56" class="key key-1 key-mk">*<br>8</div>
					<div keyCode="57" class="key key-1 key-mk">(<br>9</div>
					<div keyCode="48" class="key key-1 key-mk">)<br>0</div>
					<div keyCode="173" class="key key-1 key-mk">_<br>-</div>
					<div keyCode="61" class="key key-1 key-mk">+<br>=</div>
					<div keyCode="8" class="key key-2 key-dark">Backspace</div>
				</div>
				<div class="row r4">
					<div keyCode="9" class="key key-1-5 key-dark">Tab</div>
					<div keyCode="81" class="key key-1">Q</div>
					<div keyCode="87" class="key key-1">W</div>
					<div keyCode="69" class="key key-1">E</div>
					<div keyCode="82" class="key key-1">R</div>
					<div keyCode="84" class="key key-1">T</div>
					<div keyCode="89" class="key key-1">Y</div>
					<div keyCode="85" class="key key-1">U</div>
					<div keyCode="73" class="key key-1">I</div>
					<div keyCode="79" class="key key-1">O</div>
					<div keyCode="80" class="key key-1">P</div>
					<div keyCode="219" class="key key-1 key-mk">{<br>[</div>
					<div keyCode="221" class="key key-1 key-mk">}<br>]</div>
					<div keyCode="220" class="key key-1-5 key-mk">|<br>\</div>
				</div>
				<div class="row r3">
					<div keyCode="20" class="key key-1-75 key-dark">Caps</div>
					<div keyCode="65" class="key key-1">A</div>
					<div keyCode="83" class="key key-1">S</div>
					<div keyCode="68" class="key key-1">D</div>
					<div keyCode="70" class="key key-1">F</div>
					<div keyCode="71" class="key key-1">G</div>
					<div keyCode="72" class="key key-1">H</div>
					<div keyCode="74" class="key key-1">J</div>
					<div keyCode="75" class="key key-1">K</div>
					<div keyCode="76" class="key key-1">L</div>
					<div keyCode="59" class="key key-1 key-mk">:<br>;</div>
					<div keyCode="222" class="key key-1 key-mk">"<br>'</div>
					<div keyCode="13" class="key key-2-25 key-dark">Enter</div>
				</div>
				<div class="row r2">
					<div keyCode="16" class="key key-2-25 key-dark">Shift</div>
					<div keyCode="90" class="key key-1">Z</div>
					<div keyCode="88" class="key key-1">X</div>
					<div keyCode="67" class="key key-1">C</div>
					<div keyCode="86" class="key key-1">V</div>
					<div keyCode="66" class="key key-1">B</div>
					<div keyCode="78" class="key key-1">N</div>
					<div keyCode="77" class="key key-1">M</div>
					<div keyCode="188" class="key key-1 key-mk">&lt;<br>,</div>
					<div keyCode="190" class="key key-1 key-mk">&gt;<br>.</div>
					<div keyCode="191" class="key key-1 key-mk">?<br>/</div>
					<div keyCode="16" class="key key-2-75 key-dark">Shift</div>
				</div>
				<div class="row r1">
					<div keyCode="17" class="key key-1-5 key-dark">Ctrl</div>
					<div keyCode="" class="key key-1 hidden"></div>
					<div keyCode="18" class="key key-1-5 key-dark">Alt</div>
					<div keyCode="32" class="key key-7">Space</div>
					<div keyCode="18" class="key key-1-5 key-dark">Alt</div>
					<div keyCode="" class="key key-1 hidden"></div>
					<div keyCode="17" class="key key-1-5 key-dark">Ctrl</div>
				</div>
			</div>
		</div>
	</div>
</div>
