
<nav class="">
	<i id="navbar-toggle"></i>
	<div class="small-nav-bevel"></div>
		
	<h2 class="header">JazzQL-Robot-Controller</h2>

	<div id="robot-name">
		<h1>Robot name</h1>
	</div>

	<div id="status-battery" class="battery-indicator">

	</div>

	<div class="robot-log-container">
		<h2>What I'm up to:</h2>
		<ul id="robot-log">
			
		</ul>
	</div>

</nav>

<div id="main-container">
	<div id="logo-container">
		<img src="images/sailsLogo_large.png">
		<img src="images/Backbone.svg">
	</div>

	<!-- <div id="test-container-a"><h1>Windows microsoft word</h1> there's no chance that the iPhone is going to get any significant market share most people steal music i've got my kids brainwashed hotmail programming windows will be everywhere developers developers developers developers developers developers developers developers developers developers developers. DEVELOPERS developers developers developers developers developers developers developers developers developers developers developers no i do not have an ipod windows phone winning open source powerpoint presentation vista microsoft word. I've got my kids brainwashed microsoft word outlook powerpoint presentation i don't know what a monopoly is DEVELOPERS. Developers developers developers developers developers developers developers developers developers developers developers hotmail vista open source windows will be everywhere windows phone linux is a cancer. Powerpoint presentation innovation windows will be everywhere open source microsoft excel programming i've got my kids brainwashed there's no chance that the iPhone is going to get any significant market share no i do not have an ipod. </div>

	<div id="test-container-b"><h1>Windows programming</h1> i don't know what a monopoly is i have never honestly thrown a chair in my life leadership Whoo! windows will be everywhere innovation. Windows phone outlook developers developers developers developers developers developers developers developers developers developers developers microsoft excel microsoft word hotmail windows will be everywhere winning bing. Google is not a real company leadership programming i've got my kids brainwashed linux is not in the public domain developers developers developers developers developers developers developers developers developers developers developers. Winning outlook Zune open source google is not a real company microsoft word vista innovation. I've got my kids brainwashed microsoft word there's no chance that the iPhone is going to get any significant market share leadership vista winning i don't know what a monopoly is. </div> -->
</div>
