
// SCSS Utilities
@import "./_scut.scss";

// Marka icnos
@import "./marka.min.scss";

$blue: #1A304D;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
	height: 100%;
}

nav{
	position: fixed;
	z-index: 100;
	// left: -20em;
	left: 0;
	width: 20em;
	height: 100%;
	margin: 0;

	background-color: $blue;
	color: #FFF;

	>#navbar-toggle{
		position: absolute;
		z-index: 9001;
		top: 0;
		left: 100%;
		background-color: $blue;
	}

	&.small-nav{
		>.small-nav-bevel{
			position: absolute;
			top: 0;
			left: 100%;
			height: 100%;
			width: 53px;

			background-color: $blue;
		}
	}

	>.logo{
		padding: 0.5em;
		background-color: #FFF;

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}

	>.header{
		width: 100%;
		margin: 0;
		padding: 0.5em 0;
		text-align: center;
		background-color: darken($blue, 10%);
	}

	>.desc{
		width: 100%;
		margin: 0;
		padding: 0.5em;
		text-align: center;
		background-color: darken($blue, 5%);
	}
}

#main-container{
	@include scut-clearfix;
	width: calc(100% - 20em);
	height: 100%;
	margin-left: 20em;

	#logo-container{
		float: left;
		width: 100%;
		height: 53px;
		padding-left: 53px;

		img{
			float: left;
			max-height: 100%;
			max-width: 100%;

			padding: 4px 0 4px 4px;

			&.dark{
				background-color: $blue;
			}
		}
	}

	#keyboard-view{
		position: fixed;
		z-index: 50;
		width: calc(100% - 20em);
		top: calc(100% - 16.5em);
		left: 20em;
	}

	&.small-nav{
		padding-left: 53px;

		#logo-container{
			padding-left: 0;
		}

		#keyboard-view{
			width: calc(100% - 53px);
			left: 53px;
		}
	}
}

#test-container-a{
	width: 100%;
	padding: 0.5em;
	float: left;
	background-color: darken(#FFF, 10%);
}

#test-container-b{
	width: 100%;
	height: 100vh;
	padding: 0.5em;
	float: left;
	background-color: darken(#FFF, 20%);
}

#robot-name{
	width: 100%;

	h1{
		text-align: center;
	}
}

.battery-indicator{
	@include scut-clearfix;
	width: 100%;
	background-color: darken($blue, 10%);

	.header{
		float: left;
		width: 50%;

		h1{
			margin: 0;
			margin-top: 0.375em;
			padding: 0;
			font-size: 2.5em;
			text-align: center;
		}
	}

	.battery-container{
		@include scut-clearfix;
		float: left;
		width: 50%;
		margin: 0.5em 0;

		.battery {
			box-sizing: content-box;
			border:5px solid #FFF;
			width:calc(100% - 25px - 0.5em);
			height: 3em;
			padding:.25em;
			position:relative;

			&:after {
				content:"";
				width:.75em;
				height:2.5em;
				background:#FFF;
				display:block;
				position:absolute;
				right:-.75em;
				top:.5em;
			}

			.level {
				display:block;
				background: #FFF;
				height:100%;
			}

			.small-level{
				display: none;
			}
		}


	}
}

// small battery
nav.small-nav{
	.battery-indicator{
		position: absolute;
		top: 53px;
		left: 100%;
		width: 53px;
		height: 53px;
		background-color: darken($blue, 15%);

		.battery-container{
			width: 100%;
			margin: 0;
			padding: 5px;

			.battery {
				box-sizing: content-box;
				border:2px solid #FFF;
				width:calc(100% - 11px);
				height: 16px;
				padding:2px;
				position:relative;

				&:after {
					content:"";
					width:4px;
					height:16px;
					background:#FFF;
					display:block;
					position:absolute;
					right:-5px;
					top:2px;
				}
			}
		}

		.header{
			position: absolute;
			top: 24px;
			width: 100%;
			font-size: 7px;

			h1{
				text-align: center;
			}
		}
	}
}

.robot-log-container{

	padding: 0.5em;

	h2{
		margin: 0;
		margin-bottom: 0.5em;
	}

	#robot-log{
		@include scut-list-unstyled;

		li{
			@include scut-clearfix;
			margin-bottom: 0.5em;

			&:nth-child(2n + 1){ // darken every other message
				.message{
					.content{
						background-color: darken($blue, 15%);
					}
					.triangle{
						border-top: 10px solid darken($blue, 15%);
						border-right: 10px solid darken($blue, 15%);
					}
				}
			}

			.message-icon{
				display: none;
			}

			.message{
				.triangle{ // little thing on the left side of the content #designer
					float: left;
					box-sizing: content-box;
					width: 0; 
					height: 0; 
					border-bottom: 10px solid transparent;
					border-left: 10px solid transparent;
					
					border-top: 10px solid darken($blue, 10%);
					border-right: 10px solid darken($blue, 10%);
				}

				.content{
					float: left;
					width: calc(100% - 20px);
					padding: 0.5em;
					background-color: darken($blue, 10%);

					p{
						margin: 0;
					}
					.log{
	  					// word-break: break-all;
					}
					.time{
						margin-top: 0.5em;
						text-align: right;
						color: darken(#FFF, 0%);
					}
				}
			}
		}
	}
}

// small nav log
nav.small-nav{
	.robot-log-container{
		position: absolute;
		top: 106px;
		left: 100%;
		padding: 0;

		h2{
			display: none;
		}

		#robot-log{
			li{
				display: block;
				position: relative;
				width: 53px;
				height: 53px;
				margin: 0;
				padding-left: 10px;
				padding-top: 9px;

				background-color: darken($blue, 15%);

				&:nth-child(2n + 1){ // darken every other message
					background-color: darken($blue, 5%);
				}

				.message-icon{
					float: left;
					box-sizing: content-box;
					display: block;

					.square{
						width: 23px;
						height: 15px;
						border: 5px solid #FFF;

						//background-color: #F0F;
						background: repeating-linear-gradient(
						  0deg,
						  $blue,
						  $blue 3px,
						  #FFF 3px,
						  #FFF 6px
						);
					}
					.triangle{
						width: 0;
						height: 0;
						margin-left: 15px;

						border: 5px solid transparent;
						border-top: 5px solid #FFF;
						border-left: 5px solid #FFF;
					}
				}
				.message{
					display: none;
				}

				&:hover{
					.message{
						display: block;
						position: absolute;
						top: 20px;
						left: 100%;
						width: 300px;

    					word-wrap: break-word;
					}
				}
			}
		}
	}
}

.keyboard-container{
	float: left;
	width: 100%;

	.keyboard{
		@include scut-clearfix;
		width: 100%;
		max-width: 50em;
		margin: 0 auto;
		padding: 0.125em;
		background-color: lighten(#d5c2a1, 10%);

		.key{
			float: left;
			width: calc(100% / 15 - 0.25em);
			height: 3em;
			margin: 0.125em;
			padding-top: 1em;

			background-color: lighten(#d5c2a1, 20%);

			line-height: 1em;
			font-weight: bold;
			text-align: center;

			// Key states
			&.key-down{
				background-color: lighten(#d5c2a1, 5%);
			}

			&.key-dark{
				background-color: lighten(#ad9c7f, 15%);
				
				&.key-down{
					background-color: lighten(#ad9c7f, 5%);
				}
			}

			// Alters padding and line height for multi-letter keys
			&.key-mk{
				padding-top: 0.25em;
				line-height: 1.25em;
			}

			// Various key sizes
			&.hidden{
				opacity: 0;
			}
			&.key-1-5{
				width: calc(100% / 15 * 1.5 - 0.25em);
			}
			&.key-1-75{
				width: calc(100% / 15 * 1.75 - 0.25em);
			}
			&.key-2{
				width: calc(100% / 15 * 2 - 0.25em);
			}
			&.key-2-25{
				width: calc(100% / 15 * 2.25 - 0.25em);
			}
			&.key-2-75{
				width: calc(100% / 15 * 2.75 - 0.25em);
			}
			&.key-7{
				width: calc(100% / 15 * 7 - 0.25em);
			}
		}
	}
}